<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/index.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    
</head>
<body>
    <div class="vcard">
        <div class="card">
            <!-- Card Header -->
            <div class="card-header">
              <h2>Card Title</h2>
            </div>
    
            <!-- Card Content -->
            <div class="card-content">
              <h1>331</h1>
            </div>
         </div>
        <div class="card">
           <!-- Card Header -->
          <div class="card-header">
            <h2>Card Title</h2>
            </div>
    
           <!-- Card Content -->
            <div class="card-content">
              <h1>331</h1>
            </div>
        </div>
        <div class="card">
            <!-- Card Header -->
            <div class="card-header">
                <h2>Card Title</h2>
            </div>
    
            <!-- Card Content -->
            <div class="card-content">
              <h1>331</h1>
            </div>
        </div>
        <div class="card">
            <!-- Card Header -->
            <div class="card-header">
              <h2>Card Title</h2>
            </div>
    
            <!-- Card Content -->
            <div class="card-content">
              <h1>331</h1>
            </div>
        </div>
    </div>
    <div class="chart">
      <div class="chart1">
      <div id="line_top_x"></div>
      </div>
      <div class = "chart2">
        <div id="chart_div" style="width: 500px; height: 300px;"></div>
      </div>
      <div class = "chart3" >
      <div id="piechart_3d" style="width: 500px; height: 300px;"></div>
      </div>
    </div>
    <div class="responce">
      <!-- Card Header -->
      <div class="responce-header">
        <h2>Suggesion :</h2>
      </div>

      <!-- Card Content -->
      <div class="responce-content">
        <p>{{abc}}</p>
      </div>
   </div>
</body>
